#pri{
    margin: 10px;
    width: 200px;
}
#hr{
    margin: 2px;
    /*height: 35px;*/
}
#adm{
    margin: 2px;
    width: 212px;
    /*height: 40px;*/
}
#juu{
    margin-right: 10px;
    align-content: center;
    text-align: center;
    
}
#chini{
    width: 120px;
}
/* #h1{
    color: green;
    background-color: green;
} */